[submodule "modules/MMM-CalendarExt3"]
	path = modules/MMM-CalendarExt3
	url = https://github.com/MMRIZE/MMM-CalendarExt3
[submodule "modules/MMM-GoogleCalendar"]
	path = modules/MMM-GoogleCalendar
	url = https://github.com/randomBrainstormer/MMM-GoogleCalendar.git
[submodule "modules/MMM-GoogleCalendar2"]
	path = modules/MMM-GoogleCalendar2
	url = https://github.com/randomBrainstormer/MMM-GoogleCalendar.git
[submodule "modules/MMM-Hevy"]
	path = modules/MMM-Hevy
	url = https://github.com/wathmal/MMM-Hevy.git
